@(formulario_cliente: play.data.Form[Cliente],formulario_usuario: play.data.Form[Usuario])

@import helper._

@main("Nuevo CLiente") {



           <div class="page-header">
                <h2> Nuevo Cliente</h2>
           </div>
           <div class="row-fluid">
               <div class="span12">
                @form(routes.Clientes.save(),'class->"form-horizontal") {
                    <fieldset>
                    <div class="control-group">
                        <label class="control-label">Nombre</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                        <div class="controls">
                            <input type="text" name="@formulario_cliente("nombre").name"  class="form-control" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Apellidos</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                        <div class="controls">
                            <input type="text" name="@formulario_cliente("apellido").name"  class="form-control" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Direccion</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                        <div class="controls">
                            <input type="text" name="@formulario_cliente("direccion").name"  class="form-control" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Estado</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                         <div class="controls">
                            <select name="@formulario_cliente("estado").name" >
                                <option value="1" selected>Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="col-sm-6 control-label">Telefono</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                        <div class="controls">
                            <input type="text" name="@formulario_cliente("telefono").name"  class="form-control" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Email</label>
                        @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                        <div class="controls">
                            <input type="text" name="@formulario_cliente("email").name"  class="form-control" />
                        </div>
                    </div>
                    @*
                    <div class="control-group">
                    @select(
                        formulario_cliente("usuario.id_usuario"),
                        options(Usuario.options),
                        '_label -> "Usuario:",
                        '_class->"controls",
                        '_id->"selectnuevo",
                        '_showConstraints -> false)
                    </div> *@


                        <div class="control-group">
                            <label class="col-sm-6 control-label">Usuario</label>
                            @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                            <div class="controls">
                                <input type="text" name="@formulario_cliente("usuario.usuario").name"  class="form-control" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-sm-6 control-label">Contraseña</label>
                            @* @inputText(formulario("nombre"),'_class->"form-control", '_showConstraints -> false, '_label -> "Nombre :")*@
                            <div class="controls">
                                <input type="password" name="@formulario_cliente("usuario.password").name"  class="form-control" />
                            </div>
                        </div>



                    <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Crear"> -
                    <a href="@routes.Clientes.index"> <input type="button" value="Cancelar"> </a>
                    </div>
                    </fieldset>
                }
           </div>
      </div>
}