

@main("Control de ventas") {
   <div class="page-header">
   <h2> BIENVENIDOS!!! </h2>
   </div>

   <div class="span12 m-widget">
       <div class="m-widget-header">Ventas del dia</div>
       <div class="m-widget-body">
           <div class="row-fluid">
           <div class="span3 m-stats-item">
               <div class="m-stats-val">200+</div> Clientes nuevos
           </div>
           <div class="span3 m-stats-item">
               <div class="m-stats-val">300+</div> Ventas
           </div>
           <div class="span3 m-stats-item">
               <div class="m-stats-val">100+</div> Productos
           </div>
           <div class="span3 m-stats-item">
               <div class="m-stats-val">40+</div> Pedidos
           </div>
       </div>
       </div>

   </div>
}