<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 ">
            <div class="container-fluid m-login-container">
                <div class="page-header">
                    <h2>Gin  <small>Login</small></h2>
                </div>

                <form class="form-horizontal" action="index.html" />
                <input type="text" placeholder="Enter username or email" class="span12" id="input01" />
                <label></label>
                <input type="password" placeholder="Enter password" class="span12" id="input01" />

                <button type="submit" style="margin-top: 15px" class="btn btn-primary">	Login</button>

                </form>
            </div>
        </div>
        <div class="span4"></div>
    </div>
</div>